ueb-pin {
    display: block;
    margin: 6px 0;
    padding: 2px 2px;

    &>* {
        display: inline-block;
        vertical-align: middle;
    }
}

ueb-node[data-advanced-display="Hidden"] ueb-pin[data-advanced-view="true"] {
    display: none;
}

ueb-blueprint[data-drag-scrolling="false"][data-selecting="false"] ueb-pin:hover {
    background: var(--ueb-pin-background);
    cursor: crosshair;
}

.ueb-node-outputs ueb-pin {
    text-align: right;
}

.ueb-pin-icon-exec {
    display: inline-block;
    vertical-align: text-top;
}

.ueb-pin-icon-value {
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    vertical-align: baseline;
    margin: 0 0.5em -1px 0.1em;
}

.ueb-pin-icon-value::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px solid var(--ueb-pin-color);
    border-radius: 50%;
}

ueb-pin.ueb-pin-fill .ueb-pin-icon-value::before {
    background: var(--ueb-pin-color);
}

ueb-pin.ueb-pin-fill .ueb-pin-tofill {
    fill: currentColor;
}

.ueb-pin-icon-value::after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 13px;
    width: 0;
    height: 0;
    border-top: 0.3em solid transparent;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid var(--ueb-pin-color);
}

.ueb-pin-name {
    display: inline-block;
    vertical-align: middle;
}

.ueb-pin-exec .ueb-pin-name {
    display: none;
}

.ueb-pin-input {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    padding: 0 3px 0 3px;
    color: #c0c0c0;

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
        background: #ffffff46;
        outline: none;
    }
}

.ueb-pin-input-content {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    min-width: 10px;
    max-width: 400px;
    max-height: 16em;
    background: none;
    color: inherit;
    cursor: text;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #575757;
        border-radius: 10px;
        margin: 4px;
    }
}