.ueb {
    $ueb-pin-color: white;
    $ueb-pin-dim-color: #afafaf;
    --ueb-pin-color : #{$ueb-pin-color};
    --ueb-pin-dim-color: #{$ueb-pin-dim-color};
}

.ueb-pin-boolean {
    $ueb-pin-color: rgb(30%, 0, 0);
    --ueb-pin-color: #{$ueb-pin-color};
}

.ueb-pin-class {
    $ueb-pin-color: #5800bb;
    --ueb-pin-color: #{$ueb-pin-color};
}

.ueb-pin-float {
    $ueb-pin-color: #9ffb44;
    --ueb-pin-color: #{$ueb-pin-color};
}

.ueb-pin-int {
    $ueb-pin-color: #1fe0ad;
    --ueb-pin-color: #{$ueb-pin-color};
}

.ueb-pin-name {
    $ueb-pin-color: #cb81fc;
    --ueb-pin-color: #{$ueb-pin-color};
}

.ueb-pin-object {
    $ueb-pin-color: #00a8f2;
    $ueb-pin-color: rgba(0%, 40%, 01%);
    --ueb-pin-color: #{$ueb-pin-color};
}

.ueb-pin-rotator {
    $ueb-pin-color: #9eb1fc;
    --ueb-pin-color: #{$ueb-pin-color};
}

.ueb-pin-string {
    $ueb-pin-color: #fc00d2;
    --ueb-pin-color : #{$ueb-pin-color};
    --ueb-pin-background: linear-gradient(90deg, #fc00d220, #fc00d280 15%, #fc00d250 85%, transparent);
}

.ueb-pin-vector {
    $ueb-pin-color: #fcc823;
    --ueb-pin-color: #{$ueb-pin-color};
}