ueb-pin {
    display: block;
    min-height: 30px;
}

ueb-node[data-advanced-display="Hidden"] ueb-pin[data-advanced-view="true"] {
    display: none;
}

.ueb-pin-wrapper {
    display: inline-block;
    margin: 4px 0 0 0;
    padding: 2px 2px;

    &>* {
        display: inline-block;
        vertical-align: middle;
    }
}

ueb-blueprint[data-scrolling="false"][data-selecting="false"] .ueb-pin-wrapper:hover {
    background: var(--ueb-pin-background);
    cursor: crosshair;
}

.ueb-node-outputs ueb-pin {
    text-align: right;
}

ueb-pin[data-type="exec"] .ueb-pin-icon {
    --ueb-pin-color: white;
    width: 15px;
    height: 15px;
}

.ueb-pin-icon {
    width: 11px;
    height: 11px;
    margin-right: 0.5em;
    color: var(--ueb-pin-color);
}

.ueb-pin-icon svg {
    display: block;
    width: 100%;
    height: 100%;
}

ueb-pin[data-linked="true"] .ueb-pin-tofill {
    fill: currentColor;
}

.ueb-pin-name {
    display: inline-block;
    vertical-align: middle;
}

ueb-pin[data-type="exec"] .ueb-pin-name {
    display: none;
}

.ueb-pin-input-wrapper {
    padding-left: 8px;
}

.ueb-pin-input {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
    padding: 0 3px 0 3px;
    color: #c0c0c0;

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
        background: #ffffff46;
        outline: none;
    }
}

ueb-pin[data-type="bool"] .ueb-pin-input {
    appearance: none;
    padding: 0;
    height: 18px;
    width: 18px;
    background-color: #0f0f0f;
    color: var(--ueb-pin-color);
}

ueb-pin[data-type="bool"] .ueb-pin-input:checked {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path fill="none" stroke="%230070e0" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M 5 10 l 3 3 l 6 -6" /></svg>');
}

ueb-pin[data-type="/Script/CoreUObject.LinearColor"] .ueb-pin-input {
    padding: 0;
    width: 18px;
    height: 18px;
    border-color: #505050;
    border-radius: 0;
    background-color: var(--ueb-linear-color);
}

.ueb-pin-input-label~.ueb-pin-input {
    margin-left: 0;
}

.ueb-pin-input-label {
    vertical-align: middle;
    margin-left: 3px;
    color: #777777;
}

.ueb-pin-input-content {
    display: block;
    outline: none;
    border: none;
    padding: 0;
    min-width: 10px;
    max-width: 400px;
    max-height: 16em;
    line-height: calc(1em + 1px);
    background: none;
    color: inherit;
    cursor: text;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #575757;
        border-radius: 10px;
        margin: 4px;
    }
}