ueb-node[data-type="/Script/BlueprintGraph.K2Node_Knot"] {
    box-shadow: none;
}

ueb-node[data-type="/Script/BlueprintGraph.K2Node_Knot"] ueb-pin {
    min-height: 0;
}

ueb-node[data-type="/Script/BlueprintGraph.K2Node_Knot"] ueb-pin[data-direction="input"] {
    display: none;
}

ueb-node[data-type="/Script/BlueprintGraph.K2Node_Knot"] .ueb-node-border {
    padding: 8px 18px;
    background: none !important;
}

ueb-node[data-type="/Script/BlueprintGraph.K2Node_Knot"][data-selected="true"] .ueb-node-border {
    box-shadow: inset 0 0 0px 6px #d29e07;
}
