@mixin pin-style($color) {
    --ueb-pin-color : #{$color};
    --ueb-pin-background: linear-gradient(90deg,
        #{transparentize($color, 0.85)},
        #{transparentize($color, 0.2)} 15%,
        #{transparentize($color, 0.5)} 60%,
        #{transparentize($color, 0.65)} 95%,
        transparent);
}

.ueb {
    $ueb-pin-color: white;
    $ueb-pin-dim-color: #afafaf;
    --ueb-pin-color : #{$ueb-pin-color};
    --ueb-pin-dim-color: #{$ueb-pin-dim-color};
}

.ueb-pin-type-bool {
    @include pin-style(#750000);
}

.ueb-pin-type-class {
    @include pin-style(#5800bb);
}

.ueb-pin-type-exec {
    @include pin-style(#a7a7a7);
}

.ueb-pin-type-int {
    @include pin-style(#1fe0ad);
}

.ueb-pin-type-name {
    @include pin-style(#cb81fc);
}

.ueb-pin-type-object {
    @include pin-style(#00a8f2);
}

.ueb-pin-type-real {
    @include pin-style(#32bb00);
}

.ueb-pin-type-rotator {
    @include pin-style(#9eb1fc);
}

.ueb-pin-type-string {
    @include pin-style(#d500b1);
}

.ueb-pin-type-struct {
    @include pin-style(#034ca8);
}

.ueb-pin-type-vector {
    @include pin-style(#fcc823);
}