ueb-blueprint {
    --ueb-pin-color-dim: #afafaf;
}

ueb-link {
    --ueb-link-color: rgb(var(--ueb-link-color-rgb));
}

ueb-pin {
    --ueb-pin-background: linear-gradient(90deg,
            rgba(var(--ueb-pin-color-rgb), 0.15),
            rgba(var(--ueb-pin-color-rgb), 0.8) 15%,
            rgba(var(--ueb-pin-color-rgb), 0.5) 60%,
            rgba(var(--ueb-pin-color-rgb), 0.35) 95%,
            transparent);
    --ueb-pin-color: rgb(var(--ueb-pin-color-rgb));
}

ueb-pin[data-type="bool"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-bool);
}

ueb-pin[data-type="class"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-class);
}

ueb-pin[data-type="exec"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-exec);
}

ueb-pin[data-type="int"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-int);
}

ueb-pin[data-type="name"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-name);
}

ueb-pin[data-type="object"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-object);
}

ueb-pin[data-type="real"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-real);
}

ueb-pin[data-type="rotator"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-rotator);
}

ueb-pin[data-type="string"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-string);
}

ueb-pin[data-type="/Script/CoreUObject.LinearColor"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-linear-color);
}

ueb-pin[data-type="/Script/CoreUObject.Rotator"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-rotator);
}

ueb-pin[data-type="/Script/CoreUObject.Vector"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-vector);
}

ueb-pin[data-type="vector"] {
    --ueb-pin-color-rgb: var(--ueb-pin-color-vector);
}