@use "style.scss";

ueb-window {
    display: block;
    position: absolute;
    border: 2px solid black;
    top: 0;
    left: 0;
    transform: translateX(calc(var(--ueb-position-x) * 1px)) translateY(calc(var(--ueb-position-y) * 1px));
    background: #242424;
    box-shadow: 0 0 2px 0 #000000A0;
    z-index: 1000;
}

.ueb-window-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    height: 30px;
    background: #1a1a1a;
}

.ueb-window-content {
    padding: 10px;
    border: 1px solid #303030;
}

.ueb-window-name {
    flex-grow: 1;
    padding-left: 28px;
    text-align: center;
}

.ueb-window-close {
    padding: 8px;
    height: 12px;
    width: 12px;
}

.ueb-color-picker-theme,
.ueb-color-picker-srgb {
    display: inline-block;
    vertical-align: middle;
}

.ueb-color-picker-main {
    display: grid;
    grid-template: 1fr / auto min-content min-content min-content;
}

.ueb-color-picker-wheel {
    position: relative;
    padding-top: 100%;
    min-width: 200px;
    border-radius: 100%;
    background:
        radial-gradient(white 5%, transparent 85%),
        conic-gradient(from 90deg,
            #FF0000 0deg,
            #FFFF00 60deg,
            #00FF00 120deg,
            #00FFFF 180deg,
            #0000FF 240deg,
            #FF00FF 300deg,
            #FF0000 360deg);
}

ueb-color-handler {
    display: block;
    position: absolute;
    margin-top: -3px;
    margin-left: -3px;
    width: 4px;
    height: 4px;
    border: 1px solid #000;
    border-radius: 4px;
}

.ueb-color-picker-wheel ueb-color-handler {
    left: var(--ueb-color-wheel-x);
    top: var(--ueb-color-wheel-y);
}

.ueb-color-picker-saturation,
.ueb-color-picker-value {
    margin: 0 6px;
    padding-bottom: 10px;
    width: 30px;
}

.ueb-color-picker-saturation {
    background-image: linear-gradient(to bottom, transparent 10px, #FFFFFF 100%);
}

.ueb-color-picker-value {
    background-image: linear-gradient(to bottom, transparent 10px, #000000 100%);
}

ueb-color-slider {
    display: block;
    position: relative;
    padding-bottom: 10px;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border: 5px solid transparent;
    }

    &::before {
        left: -4px;
        border-left-color: #e0e0e0;
    }

    &::after {
        right: -4px;
        border-right-color: #e0e0e0;
    }
}

.ueb-color-picker-saturation ueb-color-slider {
    top: calc(100% - var(--ueb-color-s) * 100%)
}

.ueb-color-picker-value ueb-color-slider {
    top: calc(100% - var(--ueb-color-v) * 100%)
}

.ueb-color-picker-preview {
    position: relative;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 39px;
        width: 5px;
        border-top: 2px solid black;
    }

    &::after {
        right: 0;
    }
}

.ueb-color-picker-preview-old,
.ueb-color-picker-preview-new {
    width: 100px;
    height: 40px;
}